APP_ENV=local
APP_KEY=base64:cNYkBiI1EIkIaeQvmfhFd9egHNP7kQTBpJYgY4UVrv4=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=larapus
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=mailgun
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_KEY=
PUSHER_SECRET=
PUSHER_APP_ID=

NOCAPTCHA_SECRET=6LfTVikUAAAAALYJww9dCQfulQSIG1T
NOCAPTCHA_SITEKEY=6LfTVikUAAAAAJYW_PRF_LCccjuE2wZZkHt2s6lg

MAILGUN_DOMAIN = sandboxed2dc0b3c1ec447d8aa2f7639bf61a75.mailgun.org
MAILGUN_SECRET = key-9aaaa8b4f8bbeb0a993e3665a8e3ef65